include versioneer.py
include tessflux/_version.py
include README.md
include files/etc/init.d/tessflux
include files/etc/systemd/system/tessflux.service
include files/etc/tessflux/config.example
include files/etc/tessflux/influxdb.example
include files/etc/logrotate.d/tessflux
