CREATE DATABASE "tessdb";
CREATE RETENTION POLICY "two_days" ON "tessdb" DURATION 2d SHARD_DURATION 2h REPLICATION 1 DEFAULT;
CREATE RETENTION POLICY "forever" ON "tessdb" DURATION INF SHARD_DURATION 1000w REPLICATION 1;
DROP RETENTION POLICY "autogen" ON "tessdb";
CREATE USER "tessflux" WITH PASSWORD 'foo';
CREATE USER "grafana"  WITH PASSWORD 'bar';
GRANT READ  ON "tessdb" TO "grafana";
GRANT WRITE ON "tessdb" TO "tessflux";
