CREATE DATABASE "pruebas";
CREATE RETENTION POLICY "two_hours" ON "pruebas" DURATION 2h  REPLICATION 1 DEFAULT;
CREATE RETENTION POLICY "a_year"    ON "pruebas" DURATION 52w REPLICATION 1;
CREATE CONTINUOUS QUERY "cq_30m"    ON "pruebas" 
BEGIN
  SELECT mean("tamb") AS "mean_tamb",mean("tsky") AS "mean_tsky"
  INTO "a_year"."downsampled_readings"
  FROM "readings"
  GROUP BY time(60m)
END;
